<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device=width, initial-scale=1.0">
        <Title>Nafeeza Arwatabina - Portofolio</Title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <header class="site-header">
            <div class="container">
                <a href="#profile" class="brand">Nafeeza Arwatabina</a>
                    <nav>
                    <a href="#profile" class="folder-nav">Profile</a>
                    </nav>
                    <nav>
                        <a href="#experience" class="folder-nav">Experience</a>
                    </nav>
            </div>
        </header>

        <main>
            <section class="hero" id="profile">
                <div class="container hero-block">
                    <div class="container hero-grid">
                        <header class="hero-header">
                            <p class ="hero-kicker">Computer Science &middot; Universitas Indonesia</p>
                        </header>
                        <div class="hero-identity">
                            <h1>Nafeeza Arwatabina</h1>
                        </div>
                        <div class="hero-photo">
                            <img class="avatar" src="/static/img/Selca_Nafeeza.jpeg" alt ="Photo of Nafeeza">
                        </div>
                        <div class ="hero-details">
                            <p class="bio"> Second year Undergraduate CS Student at Universitas Indonesia, who eager to learn and find a sliver of hope amidst the hardship.</p>
                            <dl class ="meta-list">
                                <div class="meta-row">
                                    <dt>NPM</dt>
                                    <dd>2506604573</dd>
                                </div>
                                <div class="meta-row">
                                    <dt> Program</dt>
                                    <dd>S1 Sistem Informasi</dd>
                    
                                </div>
                            </dl>
                            <div class="social-links">
                                <a href="https://github.com/snweeza" class="social-link">GitHub</a>
                                <a href="https://linkedin.com/" class="social-link">LinkedIn</a>
                                <a href="nafeeza.arwatabina@ui.ac.id" class="social-link">Email</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class= "section-2 container" id ="experience">
                <div class="section-2 block">
                    <div class="section-2 header">
                        <h3> My Past Experiences</h3>
                    </div>
                    <details class="section-2-experience">
                        <summary class="btn"> Ambass Staff of Open House FASILKOM UI 25 </summary>
                            <div class="isi-summary">
                                <aside class="experience-photo">
                                    <img class="activity-photo" src="/static/img/Ambass_25_2.jpeg" alt ="Photo of Ambass OH 25">
                                </aside>
                                <div class="experience-desc">
                                    <p> Being a part of Open House Fasilkom UI was the beginning of my journey
                                        serving on committees within this faculty. Here, i gained a lot of new friends
                                        and learned how to manage my time and adapt to Fasilkom's workload.
                                    </p>
                                </div>
                            </div>
                    </details>
                    
                    <details class="section-2-experience">
                        <summary class="btn">Business Development Staff of COMPFEST 26</summary>
                            <div class="isi-summary">
                                <aside class="experience-photo">
                                    <img class="activity-photo" src="/static/img/Compfest_26.jpeg" alt ="Photo of Bisdev CF 26"> 
                                </aside>
                                <div class="experience-desc">
                                    <p> As a Business Development staff, i gained a lot of insight about
                                        the process of turning a design into a tangiable product. The experience itself enhanced
                                        my management skill & coordination with a lot of people. This role land me a position
                                        as a Vice Person In Charge of SIWAK-NG 2026 that im currently working on it.
                                    </p>
                                </div>
                            </div>
                    </details>

                    <details class="section-2-experience">
                        <summary class="btn">AIESEC Summer Local Volunteer 26</summary>
                        <div class="isi-summary">
                            <aside class="experience-photo">
                                <img class="activity-photo" src="/static/img/LV_26.jpeg" alt ="Photo of AIESEC Summer IGV 26"> 
                            </aside>
                            <div class="experience-desc">
                                <p> Being a LV in AIESEC Program was the experience that transform my usual holiday into one that feels fresh. 
                                    This experience pushed me out of my comfort zone and the friends that i made has shaped me into a person 
                                    who is more confident and can adapt more quickly.
                                </p>
                            </div>
                        </div>
                    </details>

                    <div class="section-2 footer">
                        <p>Looking for another opportunities..</p>
                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <p>&copy; 2026 Nafeeza Arwatabina. Fakultas Ilmu Komputer, Universitas Indonesia</p>
            </div>
        </footer>
    </body>
</html>