{% extends 'base.html' %}
{% block meta %}
    <title>Skills - {{ name }}</title>
{% endblock meta %}

{% block content %}
    <main>
        <section class="skills-section container" id="skills">
            {%if stack_list%}
                <h1 class="skill-level"> {{ skill_competent }} </h1>
                <div class="skills-wrapper">
                    {% for skill in stack_list %}
                        {%if skill.level == 'Competent' %}
                            <div class="skill-details">
                                {% if skill.icon_url %}
                                    <img src="{{ skill.icon_url }}" alt="{{ skill.title }}" class="stack-icon">
                                {% endif %}
                                <span class= skill-title> {{ skill.title }} </span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <h1 class="skill-level"> {{ skill_learning }} </h1>
                <div class="skills-wrapper">
                    {% for skill in stack_list %}
                        {%if skill.level == 'Learning' %}
                            <div class="skill-details">
                                {% if skill.icon_url %}
                                    <img src="{{ skill.icon_url }}" alt="{{ skill.title }}" class="stack-icon">
                                {% endif %}
                                <span class= skill-title> {{ skill.title }} </span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <p class="empty-state">Belum ada skill yang ditambahkan.</p>
            {% endif %}

        </section>
    </main>
{% endblock content %}