{% extends 'base.html' %}
{% block meta %}
    <title>Skills - {{ name }}</title>
{% endblock meta %}

{% block content %}
    <main>
        <section class="skills-section container" id="skills">
            {%if stack_list%}
            <div class="skills-layout">
                <div class="skill-column">
                    <h1 class="skill-category">{{ skill_technical }} </h1>
                    <div class="skills-wrapper">
                        {% for skill in stack_list %}
                            {%if skill.category == 'Technical' %}
                                <details class="skill-icon">
                                    <summary>
                                        <img src="{{ skill.icon_url }}" alt="{{ skill.title }}" class="stack-icon">
                                        <span class="skill-title">{{ skill.title }}</span>
                                    </summary>

                                    <div class="skill-info">
                                        <p>{{ skill.description }}</p>
                                    </div>
                                </details>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="skill-column">
                    <h1 class="skill-category">{{ skill_tool }} </h1>
                    <div class="skills-wrapper">
                        {% for skill in stack_list %}
                            {%if skill.category == 'Tool' %}
                                <details class="skill-icon">
                                    <summary>
                                        <img src="{{ skill.icon_url }}" alt="{{ skill.title }}" class="stack-icon">
                                        <span class="skill-title">{{ skill.title }}</span>
                                    </summary>

                                    <div class="skill-info">
                                        <p>{{ skill.description }}</p>
                                    </div>
                                </details>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="skill-column">
                    <h1 class="skill-category"> {{ skill_soft }} </h1>
                    <div class="skills-wrapper soft-grid">
                        {% for skill in stack_list %}
                            {%if skill.category == 'Soft Skill' %}
                                <div class="skill-card">
                                    <h3>{{ skill.title }}</h3>
                                    <p> > {{ skill.description }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
                <p class="empty-state">Belum ada skill yang ditambahkan.</p>
            {% endif %}

        </section>
    </main>
{% endblock content %}